::root {
  --vinho: #3f0223;
}

@font-face {
  font-family: Alliance;
  src: url("../assets/fonts/AllianceNo1-Regular.9b6ad979.woff");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-image: url("../assets/img/backgroud.png");

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  font-size: 20px;
  font-weight: 400;

  font-family: "Alliance";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;

  /* border: 3px solid red; */
  /* margin: 1em 5em 0 3em; */
  margin-top: 1em;
}

menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid rgba(255, 255, 255, 0.35);

  border-radius: 12px;

  width: 480px;
  height: 55px;
}

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  border: 0px none;
  /* border: 1px solid red; */
  margin: 0px;
  border-radius: 12px;
  cursor: pointer;

  padding: 0 1em;

  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  line-height: 25px;
  /* max-width: 360px; */
  min-width: 90px;
  position: relative;
  height: 100%;
  min-height: 48px;
  flex-shrink: 0;
  overflow: hidden;
  /* white-space: normal; */
  text-align: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-transform: inherit;

  /* user-select: none; */
  /* appearance: none; */
}

.ativo {
  background-color: white;
  color: var(--vinho);
}

.conectarCarteira {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: white;

  width: 300px;
  min-width: 195px;
  height: 55px;

  border-radius: 12px;

  color: #3f0223;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.conectarCarteira:hover {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 5em;

  border-radius: 23px;

  width: 620px;
  height: 420px;

  background-color: rgb(52, 28, 40, 0.9);

  padding: 25px;
  box-sizing: border-box;

  /* position: absolute; */
}

main p {
  color: white;
}

.container-seta {
  position: fixed;
  z-index: -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 10;

  transform: translateY(130px);

  background-color: #331a27;

  border-radius: 99px;

  /* z-index: 10;
  top: 90px;
  right: 0;
  left: 0;
  
  margin-right: auto;
  margin-left: auto;
  background-color: #341c28; */
}

.seta {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  min-width: 65px;
  min-height: 35px;
  border-radius: 100px;

  background-color: #3c222f;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.5s;
}

.seta:hover {
  background-color: #543444;
}

.svgSetaBordaCima {
  transform: translateY(9px);
  background-color: transparent;
}

.svgSetaBordaBaixo {
  transform: translateY(-10px) rotate(180deg);
  background-color: transparent;
}

.btnSwap {
  font-weight: 500;
  font-size: 28px;
  /* line-height: 35px; */

  width: 100%;

  border: none;
  border-radius: 12px;

  padding: 16px 45px;

  color: var(--vinho);
  background: linear-gradient(91.06deg, rgb(205, 147, 72) -5.71%, rgb(244, 232, 103) 87.53%);
}

.lovoCat {
  position: fixed;
  right: 40px;
  bottom: 35px;
  margin-top: 50px;
  width: 400px;
  z-index: -1;
}

.lovoCat img {
  width: 100%;
  height: auto;
}

section {
  border: 1px solid white;

  position: absolute;

  transform: translateY();

  min-width: 320px;
  max-height: calc(100% - 64px);
  border-radius: 15px;
  background: #3b222f;

  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px; */
  /* rgba(0, 0, 0, 0.12) */
  box-shadow: 1px 9px 10px 99px rgba(173, 71, 71, 0.12);
}

footer {
  display: flex;
  justify-content: flex-end;

  background-color: #1f181c;
  width: 100%;
}

footer a {
  display: flex;
  flex-direction: row;

  margin-right: 6em;

  color: rgb(117, 108, 112);
  font-size: 14px;
}

footer a span {
  margin-left: 1em;
  padding-top: 0.5em;
}

.mainTitulo {
  display: flex;
  justify-content: space-between;

  width: 100%;

  font-weight: 900;
  font-size: 20px;

  margin-bottom: 1em;
}

.token {
  display: flex;
  justify-content: space-between;

  width: 100%;

  /* border: 1px solid rgba(255, 255, 255, 0.07); */

  border: 1px solid rgb(73, 51, 62);

  border-radius: 12px;

  padding: 16px 0px;

  font-weight: 900;
  font-size: 20px;
}

.token p {
  margin-left: .5em;
  padding: 0 1em;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 70px;

  border-radius: 12px;

  background-color: #3c222f;

  cursor: pointer;
}

.token p span {
  margin-left: 0.5em;
}


.token input {
  margin-right: .5em;
  width: 230px;

  border: none;
  border-radius: 12px;
}