::root {
  --vinho: #3f0223;
}

@font-face {
  font-family: Alliance;
  src: url("../assets/fonts/AllianceNo1-Regular.9b6ad979.woff");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-image: url("../assets/img/backgroud.png");

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  font-size: 20px;
  font-weight: 400;

  font-family: "Alliance";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;

  margin-top: 1em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid rgba(255, 255, 255, 0.35);

  border-radius: 12px;

  width: 480px;
  height: 55px;
}

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  border: 0px none;
  margin: 0px;
  border-radius: 12px;
  cursor: pointer;

  padding: 0 1em;

  vertical-align: middle;
  text-decoration: none;
  font-weight: 600;
  line-height: 25px;
  min-width: 90px;
  position: relative;
  height: 100%;
  min-height: 48px;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-transform: inherit;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-container {
  display: flex;
  flex-direction: row;

  gap: 20px;
}

.ativo {
  background-color: white !important;
  color: var(--vinho) !important;
}

.conectarCarteira {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: white;

  width: 300px;
  min-width: 195px;
  height: 55px;

  border-radius: 12px;

  color: #3f0223;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.conectarCarteira:hover {
  cursor: pointer;
}

.secSwap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 5em;

  border-radius: 23px;

  width: 620px;
  height: 420px;

  background-color: rgb(52, 28, 40, 0.9);

  padding: 25px;
  box-sizing: border-box;
}

.secSwap p {
  color: white;
}

.mainTitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  font-weight: 900;
  font-size: 20px;

  margin-bottom: .5em;
}

.main-opcao-pro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;

  background: rgba(37, 11, 24, 0.5);
  border-radius: 8px;
}

.main-opcao-pro p {
  font-size: 14px;
  padding-left: 1em;
}

.main-opcao-btn {
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;

  width: 45px;
  height: 45px;

  border: none;
  border-radius: 12px;

  background: transparent;
  color: white;
  cursor: pointer;
}

.container-seta {
  position: fixed;
  z-index: -1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 10;

  transform: translateY(133px);

  background-color: #331a27;

  border-radius: 99px;
}

.seta {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  min-width: 65px;
  min-height: 35px;
  border-radius: 100px;

  background-color: #3c222f;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.5s;
}

.seta:hover {
  background-color: #543444;
}

.svgSetaBordaCima {
  /* transform: translateY(10.5px); */
  background-color: transparent;

  -webkit-transform: translateY(11.5px);
  -moz-transform: translateY(10.5px);
}

.svgSetaBordaBaixo {
  /* transform: translateY(-10.5px) rotate(180deg); */
  background-color: transparent;

  -webkit-transform: translateY(-8.5px) rotate(180deg);
  -moz-transform: translateY(-10.5px) rotate(180deg);
}

.btnSwap {
  font-weight: 500;
  font-size: 28px;

  cursor: pointer;

  width: 100%;

  border: none;
  border-radius: 12px;

  padding: 16px 45px;

  color: var(--vinho);
  background: linear-gradient(91.06deg, rgb(205, 147, 72) -5.71%, rgb(244, 232, 103) 87.53%);

  transition: box-shadow 0.7s ease-in-out 0s;
}

.btnSwap:hover {
  background-image: linear-gradient(91.06deg, rgb(205, 147, 72) -5.71%, rgb(244, 232, 103) 87.53%);
  box-shadow: rgb(243, 231, 102) 0px -2px 10px;
}

.valor {
  margin: 0px 0px 10px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  font-size: 15px;
  font-weight: 700;
}

.valor span {
  margin: 0px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255, 241, 206);
  font-size: 16px;
}

.lovoCat {
  position: fixed;
  right: 40px;
  bottom: 35px;
  margin-top: 50px;
  width: 400px;
  z-index: -1;
}

.lovoCat img {
  width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: flex-end;

  background-color: #1f181c;
  width: 100%;
}

footer a {
  display: flex;
  flex-direction: row;

  margin-right: 6em;

  color: rgb(117, 108, 112);
  font-size: 14px;
}

footer a span {
  margin-left: 1em;
  padding-top: 0.5em;
}

/* Div container selecao de tokens e input de quantidade */
.token {
  display: flex;
  justify-content: space-between;

  width: 100%;

  border: 1px solid rgb(73, 51, 62);

  border-radius: 12px;

  padding: 16px 0px;

  font-weight: 900;
  font-size: 20px;
}

.selec-token {
  margin-left: 0.5em;
  padding-left: 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 200px;
  height: 70px;

  border-radius: 12px;

  background-color: #3c222f;

  cursor: pointer;
}

.selec-token div {
  display: inline-flex;
  align-items: center;
}

p + img {
  padding-left: 1em;
}

.selec-token:hover {
  background: #543444;
}

.selec-token span {
  justify-self: flex-end;
  margin: 0 0.5em;
}

/* input quantidade  */
.div-preco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-right: 0.5em;
  width: 230px;

  border-radius: 12px;
}

.token input {
  padding: 16.5px 14px;

  width: 220px;

  text-align: right;

  height: 40px;
  box-sizing: border-box;

  background-color: transparent;
  color: white;

  font-size: 20px;

  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
}

/* output preco dos tokens selecionados */
output {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  align-self: flex-end;

  font-size: 14px;
  font-weight: 300;

  color: rgb(181, 160, 170);
}

.catWaiting {
  display: none;
}

.invisivel {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }

  menu {
    display: none;
  }

  .conectarCarteira {
    display: none;
  }

  main {
    display: none;
  }

  .lovoCat {
    display: none;
  }

  .catWaiting {
    display: flex;
    flex-direction: column;
    align-items: center;

    word-wrap: normal;
    text-align: center;

    line-height: 1.5;
    font-weight: 700;
    font-size: 40px;

    width: 300px;

    margin-bottom: 4em;
  }

  .catWaiting img {
    width: 300px;
    height: 390px;
  }

  .catWaiting p:nth-child(2) {
    color: rgb(245, 232, 103);
  }

  .catWaiting p:nth-child(3) {
    color: white;
  }

  .secToken {
    visibility: hidden;
  }
}

@media screen and (max-width: 1270px){
  .sec-container {
    display: flex;
    flex-direction: column;
  }
}